*{
    margin:0;
    padding:0;
    /* font-family: 'poppins',sans-serif; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    

    
}


body{
    background: #17263D;
    /* background: #21344D; */
    
    /* background: #1c232d; */
    color:#eee9e6;
    overflow-x: hidden !important;
    
}

::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* #head{
    width: 100%;
    height: 100vh;
    
} */